/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/


ul.main-specs.clearfix {
    display: flex;
    justify-content: center;
    list-style: none;
    align-content: center;
    text-align: center;
    align-items: center;
}

ul.main-specs li {
    font-family: Georgia, sans-serif;
    border: 2px solid #004C97;
    padding: 5px;
    border-top-left-radius: 25px;
    width: 25%;
    border-bottom-right-radius: 25px;
    margin: 10px !important;
}
ul.main-specs li.viceversa {
    background: rgba(0, 76, 151, 0.5);
}

ul.main-specs p {
    margin: 0;
    color: #004C97;
    font-size: 20px;
    font-weight: bold;
}
ul.main-specs li.viceversa p {
    color: #000;
}

@media all and (max-width:768px){
    ul.main-specs {
        display: block !important;
    }
    ul.main-specs li {
        width:50% !important;
        display: inline-block !important;
    }
}