.tip1 h3{font-size:30px !important;background:rgba(222, 190, 126, 0.6) !important;display:inline-block;padding:5px;text-transform:uppercase;margin-bottom:20px;border-radius:4px;}
.tip1 h2{background:rgba(222, 190, 126, 0.6) !important;}
.tip1 p{font-size:20px !important;line-height:27px !important;background:rgba(222, 190, 126, 0.6) !important;padding:10px;display:inline-block;border-radius:4px;}
@media (max-width:1199px){.textinside img{height:auto !important;}
canvas{max-width:100%;height:auto !important;}
.promo h3{font-size:20px;}
.promo > span,
.promo > .container > span{font-size:15px;}
.promo-uppercase h3{font-size:19px;}
.promo-uppercase > span,
.promo-uppercase > .container > span{font-size:14px;}
}
@media (min-width:1200px) and (max-width:1250px){
    #logo{width:20%;}
}
@media (min-width:992px) and (max-width:1199px){
#primary-menu ul > li{margin-left:10px;}
.padding-parallax{padding-top:55px !important;}
.half-width h3{font-size:34px;line-height:43px;}
.half-width{text-align:left;font-size:16px;line-height:24px;color:#333;}
p{margin-bottom:15px;}
#primary-menu ul li > a{font-size:12px;}
.portfolio-1 .portfolio-desc p{margin:10px 0 10px;}
.portfolio-1.portfolio-fullwidth .portfolio-desc{width:60%;right:-60%;}
.heading-block h3{font-size:45px;}
#logo{width:20%;}
#logo img{max-width:100%;}
.heading-block h3{font-size:40px !important;}
.index-box1 h3{font-size:13px !important;}
#wrapper{width:1000px;}
#header.transparent-header.floating-header .container{width:1030px;padding:0 30px;}
#header.transparent-header.floating-header.sticky-header .container{width:970px;padding:0 15px;}
#primary-menu.sub-title ul > li > a{padding-left:15px;padding-right:15px;}
#primary-menu ul li.mega-menu .mega-menu-content,
.floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content{width:940px;}
.floating-header #primary-menu ul li.mega-menu .mega-menu-content{width:1030px;}
.team.team-list .team-image{width:200px;}
.testi-image,
.testi-image a,
.testi-image img,
.testi-image i{display:block;width:36px;height:36px;}
.testi-image i{line-height:36px;font-size:20px;}
.bothsidebar .portfolio-item{width:50%;}
.bothsidebar .portfolio.portfolio-3{margin:0 -20px -20px 0;}
.bothsidebar .portfolio-3 .portfolio-item{padding:0 20px 20px 0;}
.bothsidebar .portfolio-shuffle,
.postcontent .portfolio-1 .iconlist{display:none;}
.postcontent .small-thumbs .entry-image{width:200px;}
.bothsidebar .small-thumbs .entry-image{width:120px;}
.post-timeline .entry{width:400px !important;}
.post-timeline .entry.entry-date-section{width:100% !important;}
.mpost .entry-image,
.mpost .entry-image a,
.mpost .entry-image img,
.mpost .entry-image i{width:120px;height:90px;}
.mpost .entry-image a i{line-height:90px;}
.col_one_third .landing-wide-form .heading-block h2{font-size:32px;}
.col_one_third .landing-wide-form .heading-block span{font-size:17px;}
.col_one_third .landing-wide-form{padding:36px 30px;}
.bothsidebar .product-1 .product-image{width:200px;height:267px;}
.product-title h3{font-size:18px;}
.landing-video{width:465px;height:262px;margin:19px 0 0 75px;}
.panel .portfolio-meta li{padding-left:22px;}
.panel .portfolio-meta li span{display:block;margin-left:-21px;}
.portfolio-single-image-full.portfolio-single-thumbs,
.portfolio-single-image-full .swiper-container{height:400px;}
.bnews-slider{width:817px;}
.landing-form-overlay{bottom:-142px;}
}
@media (max-width:991px){
.hideonmobile {display:none !important;}
.h2titlle {font-size: 34px; line-height:35px; margin-bottom: 10px; }

.call-phone {
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
	top:auto;
    width: 100%;
}
.call-phone a{width:48% !important; display: inline-block; font-size: 14px !important; float:left; padding: 13px 2px !important; margin-right: 2px !important;}
.call-phone a.button i { margin-right: 1px !important; width: auto !important; }

.call-phone #callbackMobile.button.button-rounded.right-button { float:right; text-align:center; background-color:#0080E2 !important; color:white !important; font-size:12px !important;  width: 48% !important; display: inline-block; cursor:pointer; margin-left:2px !Important; padding-left:2px !Important;padding-right:2px !Important; }
    .request-callback-outer {
        width: 90% !important;
        margin: 0 auto !important;
        float:none !important;
    }
    .request-callback-main {
        margin-left: 0px !important;
        width: 90% !important;
        top:60px !important;
    }
    .request-callback-form {
        margin: 0 auto;
        width: 100% !important;
        max-width: 380px !important;
    }

#wrapper{width:100%;margin:0;box-shadow:none;}
#header.full-header .container,
.container-fullwidth{padding:0 15px !important;margin:0 auto;width:750px !important;}
.container.vertical-middle{width:100% !important;}
.vertical-middle + .video-wrap{position:absolute;width:100%;height:100%;top:0;left:0;}
#header-wrap .container{padding-left:10px !important;padding-right:10px !important;max-width:98% !important;}
.postcontent,
.postcontent.bothsidebar,
.sidebar{width:100%;margin-right:0;float:none !important;margin-bottom:40px !important;padding-bottom:40px;border-bottom:1px solid #EEE;}
.sidebar.col_last{float:none;margin-bottom:0 !important;padding-bottom:0;border-bottom:0;}
#header,
#header-wrap,
#header.sticky-style-2,
#header.sticky-style-3,
#header.sticky-style-2 #header-wrap,
#header.sticky-style-3 #header-wrap{height:auto !important;}
#header.sticky-style-2 #header-wrap,
#header.sticky-style-3 #header-wrap{min-height:60px;}
#header.sticky-header #header-wrap{position:relative;}
#header.transparent-header,
#header.semi-transparent{background:#FFF;border-bottom:1px solid #F5F5F5;z-index:auto;}
#header.dark.transparent-header,
#header.dark.semi-transparent{background-color:#333;border-bottom:1px solid rgba(0,0,0,0.1);}
#header.transparent-header.floating-header{margin-top:0;}
#header.transparent-header.floating-header .container{width:750px;padding:0 15px;border-radius:0;}
#header.transparent-header + #slider,
#header.transparent-header + #page-title.page-title-parallax,
#slider + #header.transparent-header,
#header.transparent-header.floating-header + #slider,
#header.transparent-header + #google-map{top:0;margin-bottom:0;}
.slider-parallax .slider-parallax-inner{position:relative;}
#header.transparent-header + #page-title.page-title-parallax .container{padding-top:0;}
#header-trigger,
.top-advert,
.header-extras{display:none;}
#logo{display:block;height:auto;float:none;margin:0 auto 0 !important;max-width:none;text-align:center;border:0 !important;padding:0 !important;float:left;width:54%;padding-top:5px !important;}
.index-box1{width:50%;flex:50%;max-width:50%;text-align:left;}
.index-box1 h3{text-align:left !important;font-size:12px !important;}
.heading-block h3{white-space:normal;font-size:29px !important;letter-spacing:1px;}
.portfolio-desc p{margin-top:0 !important;margin-bottom:4px !important;font-size:15px;line-height:17px;}
.portfolio-1 .portfolio-desc span{margin-top:0;font-size:15px;line-height:17px;}
.portfolio-item h2{font-size:30px !important;}
.sale-flash{position:absolute;top:4px;left:10px;padding:6px 10px;background-color:red;color:#FFF;text-shadow:1px 1px 1px rgba(0,0,0,0.2);border-radius:2px;z-index:5;font-size:1.3rem;font-size:12px;line-height:11px;}
.bottommargin-sm{margin-bottom:15px !important;}
.mobfixsize h1{font-size:22px !important;}
.middle{position:inherit;transform:translate(0%,0%);}
.fixviewmob{float:none !important;clear:both;}
.clearfix::after{content:none !important;}
.mobile-parallax{background-size:100% !important;}
#posts .entry:last-child{margin-bottom:0 !important;}
.parallax .heading-block h3{font-size:13px !important;}
.parallax p{font-size:14px !important;line-height:22px !important;}
#posts .entry:last-child::after{margin-top:0 !important;content:none;}
#section-contact{padding:20px;}
.middle{padding:20px;}
.middle p{margin-bottom:4px;font-size:15px;line-height:17px;}
.half-width h3{font-size:25px;line-height:35px;}
.button{font-size:12px;}
.paginatext table{width:100%;display:block;}
.paginatext table tbody{width:100%;display:block;}
.paginatext table tr{width:100%;display:block;}
.paginatext table td{width:100%;display:block;}
.line{margin:15px 0;}
#logo img{max-height:2.5rem;}
.top-head a{font-weight:bold;z-index:9999;width:30px;overflow:hidden;display:inline-block;height:30px;text-align:center;font-size:23px;float:left;}
#logo{line-height:40px;}
.top-head{top:5px;z-index:9;float:right;width:23%;text-align:right;}
#primary-menu-trigger, #page-submenu-trigger{position:relative;float:left;}
#logo a.standard-logo{display:inline-block;}
#primary-menu{display:block;float:none;clear:both;}
p{margin-bottom:7px;}
#primary-menu-trigger{opacity:1;pointer-events:auto;top:0;margin-top:0;left:0;z-index:9999;width:22%;}
#primary-menu .container #primary-menu-trigger{top:5px;left:0;}
#primary-menu-trigger i{font-size:36px;color:#004c97;}
#primary-menu > ul,
#primary-menu > div > ul{display:none;float:none !important;border:0 !important;padding:0 !important;margin:0 !important;-webkit-transition:none;-o-transition:none;transition:none;}
#primary-menu > div > ul{padding-top:60px !important;}
body:not(.top-search-open) #primary-menu-trigger{opacity:1;-webkit-transition:opacity .2s .2s ease, top .4s ease;-o-transition:opacity .2s .2s ease, top .4s ease;transition:opacity .2s .2s ease, top .4s ease;}
body.top-search-open #primary-menu-trigger{opacity:0;}
body.side-push-panel #side-panel-trigger-close a{display:block;position:absolute;z-index:12;top:0;left:auto;right:0;width:40px;height:40px;font-size:18px;line-height:40px;color:#444;text-align:center;background-color:rgba(0,0,0,0.1);border-radius:0 0 0 2px;}
#primary-menu.style-5 > ul{padding-right:0;margin-right:0;border-right:0;}
#primary-menu ul li{float:none;margin:0 !important;text-align:left !important;border-top:1px solid #EEE;}
#header.split-menu #primary-menu:not(.mobile-menu-off-canvas) > ul:not(:first-child) > li:first-child{border-top:1px solid #EEE;}
#primary-menu ul li:first-child{border-top:0;}
#primary-menu ul > li > a,
#primary-menu.style-2 > div > ul > li > a{padding:14px 5px !important;border:none !important;margin:0 !important;}
#primary-menu.style-5 > ul > li > a > div{line-height:22px;}
#primary-menu.style-5 > ul > li > a > div i{display:inline-block;margin:0 6px 0 0;top:-1px;width:16px;font-size:14px;line-height:inherit;}
#primary-menu.style-6 > ul > li > a:after,
#primary-menu.style-6 > ul > li.current > a:after{display:none;}
#primary-menu.sub-title > ul > li,
#primary-menu.sub-title.style-2 > div > ul > li{background:none !important;margin-left:0;}
#primary-menu.sub-title > ul > li > a,
#primary-menu.sub-title > div > ul > li > a{line-height:22px;font-size:13px;border-top:none;}
#primary-menu.sub-title ul li > a span{display:none !important;}
#primary-menu.sub-title ul li:hover > a,
#primary-menu.sub-title ul li.current > a,
#primary-menu.sub-title div ul > li:hover > a,
#primary-menu.sub-title div ul > li.current > a,
#primary-menu.style-3 ul li:hover > a,
#primary-menu.style-3 ul li.current > a{background-color:transparent !important;color:#444;text-shadow:none;}
#primary-menu ul:not(.windows-mobile-menu) li > a i.icon-angle-down:last-child{display:none;}
#primary-menu > ul > li.sub-menu > a,
#primary-menu > .container > ul > li.sub-menu > a{background-image:url("../images/icons/submenu.png");background-position:right center;background-repeat:no-repeat;}
#primary-menu ul li.mega-menu{position:relative;}
#primary-menu ul ul:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content{position:relative;width:auto;max-width:none;background:transparent !important;box-shadow:none;border:0;border-top:1px solid #EEE;z-index:1;top:0;padding-left:15px;}
#primary-menu ul li .mega-menu-content{padding-left:0;}
#primary-menu ul ul:not(.mega-menu-column) ul{top:0 !important;left:0;}
#primary-menu ul ul.menu-pos-invert:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content.menu-pos-invert{left:0;right:0;}
#primary-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert{right:0;}
#primary-menu ul ul li{float:none;margin:0;border-top:1px solid #EEE;}
#primary-menu ul ul li > a{padding:11px 5px !important;font-size:13px;text-transform:none;font-weight:400;}
#primary-menu ul ul li:hover > a{background-color:transparent !important;font-weight:700;padding-left:5px;color:#004c97;}
#primary-menu ul li .mega-menu-content,
#primary-menu ul li.mega-menu-small .mega-menu-content,
#primary-menu ul li.mega-menu .mega-menu-content,
.floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content,
.floating-header #primary-menu ul li.mega-menu .mega-menu-content{width:auto;margin:0;top:0;}
.container-fullwidth #primary-menu ul li.mega-menu .mega-menu-content,
#header.full-header #primary-menu ul li.mega-menu .mega-menu-content{width:auto !important;margin:0 !important;}
#primary-menu ul li.mega-menu .mega-menu-content.style-2{padding:0;}
#primary-menu ul li .mega-menu-content ul{display:block !important;position:relative;opacity:1 !important;top:0;left:0;min-width:inherit;}
#primary-menu ul li .mega-menu-content ul ul{border-top:1px solid #EEE;}
#primary-menu ul li .mega-menu-content ul.mega-menu-column{float:none;width:auto;margin:0;border-left:0 !important;padding-left:15px;border-top:1px solid #EEE;}
#primary-menu ul li .mega-menu-content ul.mega-menu-column:first-child{border:0;}
#primary-menu ul li .mega-menu-content ul{width:100% !important;}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column{padding:0 0 0 15px;}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title{margin:0;}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a{font-size:13px;font-weight:700;text-transform:none !important;padding:11px 5px !important;line-height:22px !important;color:#444 !important;}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:hover > a{background-color:transparent;color:#004c97 !important;}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover{color:#004c97 !important;}
#primary-menu ul li .mega-menu-content.style-2 li{border-top:1px solid #EEE;}
#primary-menu ul li .mega-menu-content.style-2 li:first-child{border-top:0;}
#primary-menu ul li .mega-menu-content.style-2 ul > li > a:hover{padding-left:5px;}
.mega-menu-column .widget{padding:30px 0;margin:0 !important;}
#top-search{margin:0 !important;}
#top-search a,
#top-cart,
#side-panel-trigger,
#top-account{position:absolute;top:0;left:auto;right:15px;margin:40px 0;-webkit-transition:margin .4s ease;-o-transition:margin .4s ease;transition:margin .4s ease;}
#primary-menu > div > #top-search a,
#primary-menu > div > #top-cart,
#primary-menu > div > #side-panel-trigger{margin:20px 0 !important;}
#primary-menu ul.windows-mobile-menu li.sub-menu{position:relative;}
#primary-menu ul.windows-mobile-menu li.sub-menu a{background-image:none !important;}
#primary-menu ul.windows-mobile-menu li.sub-menu a.wn-submenu-trigger{position:absolute;cursor:pointer;width:32px;height:50px;line-height:51px;top:0;right:0;z-index:1;padding:0 !important;text-align:center !important;}
#primary-menu ul.windows-mobile-menu .mega-menu-content a.wn-submenu-trigger{display:none;}
#primary-menu ul.windows-mobile-menu li.sub-menu a.wn-submenu-trigger i{margin:0 !important;}
#primary-menu ul.windows-mobile-menu ul li.sub-menu a.wn-submenu-trigger{text-align:center !important;height:45px;line-height:45px;}
#primary-menu ul.windows-mobile-menu ul li.sub-menu a.wn-submenu-trigger i{display:inline-block;line-height:45px;}
#header.sticky-style-3 #top-cart .top-cart-content{top:40px;}
#top-search a{right:43px;}
#top-search form{height:100px !important;}
#primary-menu > div > #top-search form{height:60px !important;}
#top-search form input{font-size:24px;}
#side-panel-trigger{right:71px;}
#top-account{margin:33px 0 32px;right:75px;}
#top-account a.btn span{display:none;}
body:not(.sticky-responsive-pagemenu) #page-menu #page-menu-wrap{position:relative !important;top:0 !important;}
#page-submenu-trigger{opacity:1;pointer-events:auto;color:#FFF;}
#page-menu.pagemenu-active #page-submenu-trigger{background-color:rgba(0,0,0,0.2);}
#page-menu nav{display:none;position:absolute;float:none;width:200px;top:43px;left:auto;right:15px;height:auto;background-color:#004c97;z-index:11;}
#page-menu.pagemenu-active nav{display:block;}
#page-menu nav ul{height:auto;background-color:rgba(0,0,0,0.2);}
#page-menu nav li{float:none;}
#page-menu nav li a{height:40px;line-height:40px;margin:0;padding:0 15px;border-radius:0;}
#page-menu ul ul{position:relative;width:auto;top:0;background-color:transparent;}
#page-menu ul ul a{padding-left:25px;}
.sticky-responsive-menu #header{min-height:100px;-webkit-transition:min-height .4s ease;-o-transition:min-height .4s ease;transition:min-height .4s ease;}
.sticky-responsive-menu #header-wrap{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.sticky-responsive-menu #header.sticky-style-2,
.sticky-responsive-menu #header.sticky-style-3{min-height:160px;}
.sticky-responsive-menu.device-touch #header,
.sticky-responsive-menu.device-touch #header-wrap,
.sticky-responsive-menu.device-touch #logo,
.sticky-responsive-menu.device-touch #logo img,
.sticky-responsive-menu.device-touch #top-search a,
.sticky-responsive-menu.device-touch #primary-menu-trigger,
.sticky-responsive-menu.device-touch #top-cart,
.sticky-responsive-menu.device-touch #side-panel-trigger,
.sticky-responsive-menu.device-touch #top-account{-webkit-transition:none !important;-o-transition:none !important;transition:none !important;}
#header.responsive-sticky-header:not(.sticky-style-2):not(.sticky-style-3):not(.static-sticky){min-height:60px;}
.responsive-sticky-header #header-wrap{z-index:199;position:fixed;top:0;left:0;width:100%;background-color:#FFF;border-bottom:1px solid #EEE;-webkit-backface-visibility:hidden;}
.responsive-sticky-header:not(.static-sticky) #logo,
.responsive-sticky-header:not(.static-sticky) #logo img{height:60px;}
.responsive-sticky-header:not(.static-sticky) #primary-menu-trigger{top:5px;}
.responsive-sticky-header #primary-menu > ul,
.responsive-sticky-header #primary-menu > .container > ul{max-height:300px;overflow-y:scroll;}
.responsive-sticky-header #primary-menu > ul,
.responsive-sticky-header #primary-menu > .container > ul{margin-bottom:20px !important;}
.responsive-sticky-header:not(.static-sticky) #top-search a,
.responsive-sticky-header:not(.static-sticky) #top-cart,
.responsive-sticky-header:not(.static-sticky) #side-panel-trigger{margin:20px 0;}
.responsive-sticky-header:not(.static-sticky) #top-search form{height:60px !important;}
.responsive-sticky-header:not(.static-sticky) #top-cart .top-cart-content{top:40px;}
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas > ul,
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas > div > ul{position:fixed;display:block;z-index:499;width:280px;height:100%;height:calc(100vh);max-height:none !important;margin:0 !important;left:0 !important;top:0 !important;padding:35px 25px 60px !important;background-color:#FFF;border-right:1px solid #EEE !important;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-transform:translate3d(-280px,0,0);-o-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0);-webkit-backface-visibility:hidden;transform-style:preserve-3d;}
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas.from-right > ul,
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas.from-right > div > ul{left:auto !important;right:0;border-right:0 !important;border-left:1px solid #EEE !important;-webkit-transform:translate3d(280px,0,0);-o-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0);}
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas > ul,
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas > div > ul{-webkit-transition:-webkit-transform .3s ease-in-out, opacity .2s ease !important;-o-transition:-o-transform .3s ease-in-out, opacity .2s ease !important;transition:transform .3s ease-in-out, opacity .2s ease !important;}
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas > ul.d-block,
body:not(.sticky-responsive-menu) #primary-menu.mobile-menu-off-canvas > div > ul.d-block{-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.portfolio .portfolio-item{width:33.33333333%;}
.portfolio-2 .portfolio-item{width:50%;}
.portfolio-1 .portfolio-item{width:100%;}
.portfolio-1 .portfolio-item .portfolio-image{float:none !important;margin:0 !important;margin-bottom:20px !important;}
.portfolio-1 .portfolio-item .portfolio-image,
.portfolio-1 .portfolio-item .portfolio-image a,
.portfolio-1 .portfolio-item .portfolio-image img,
.portfolio-1.portfolio-fullwidth .portfolio-item .portfolio-image,
.portfolio-1.portfolio-fullwidth .portfolio-item .portfolio-image a,
.portfolio-1.portfolio-fullwidth .portfolio-item .portfolio-image img{width:100%;height:auto;}
.portfolio-1 .portfolio-desc{width:100% !important;padding:0 !important;}
.portfolio-1.portfolio-fullwidth{margin:0 0 -60px 0;}
.portfolio-1.portfolio-fullwidth .portfolio-item{margin-bottom:10px;padding-bottom:0;border-bottom:0;overflow:hidden;}
.portfolio-1.portfolio-fullwidth .portfolio-item .portfolio-image{float:none;margin:0 0 20px 0 !important;}
.nopaddingmobile{padding:0 !important;}
.reviewclas img{height:auto !important; }
.portfolio-1.portfolio-fullwidth .portfolio-item .portfolio-image img{-webkit-transition:none;-o-transition:none;transition:none;}
.portfolio-1.portfolio-fullwidth .portfolio-item:hover .portfolio-image img,
.portfolio-1.portfolio-fullwidth .portfolio-item.alt:hover .portfolio-image img{-webkit-transform:translateX(0) !important;-moz-transform:translateX(0) !important;-ms-transform:translateX(0) !important;-o-transform:translateX(0) !important;transform:translateX(0) !important;}
.portfolio-1.portfolio-fullwidth .portfolio-desc,
.portfolio-1.portfolio-fullwidth .alt .portfolio-desc{position:relative;height:auto;background-color:transparent;left:0 !important;right:0 !important;-webkit-transition:none;-o-transition:none;transition:none;}
.portfolio-1.portfolio-fullwidth .portfolio-overlay a{left:50% !important;}
.portfolio-1.portfolio-fullwidth .alt .portfolio-overlay a{left:auto;right:50% !important;}
.device-touch .portfolio-parallax .portfolio-item .portfolio-desc,
.device-touch .portfolio-parallax .portfolio-overlay{opacity:1;}
.shop-quick-view-ajax,
.portfolio-ajax-modal{width:90% !important;}
.small-thumbs .entry-title h2,
.ievent .entry-title h2{font-size:18px;}
.entry-meta li{font-size:12px;margin:0 10px 10px 0;}
.post-grid{margin-right:-20px;}
.post-grid .entry{width:33.33333333%;padding-right:20px;}
.post-grid.grid-2,
.post-grid.grid-3{margin-right:-30px;}
.post-grid.grid-2 .entry,
.post-grid.grid-3 .entry{width:50%;padding-right:30px;}
.post-masonry-full .entry{width:33.30% !important;}
.post-masonry-full.grid-3 .entry{width:50% !important;}
.post-timeline .entry{width:290px !important;}
.post-timeline .entry.entry-date-section{width:100% !important;}
.product{width:33.33333333%;}
.product:not(.product-2):not(.product-3) .product-title h3{font-size:18px;}
.pricing [class^=col-md-] .pricing-box.best-price{margin-top:0;}
.pricing.pricing-5 .pricing-box.best-price{margin-top:20px;}
.device-md .pricing.pricing-5 .pricing-title h3,
.device-md .pricing.pricing-5 .best-price .pricing-title h3{font-size:14px;}
.device-md .pricing.pricing-5 .pricing-title span{font-size:12px;}
.device-md .pricing.pricing-5 .pricing-price{font-size:48px;}
.device-md .pricing.pricing-5 .pricing-price span{font-size:20px;}
.device-md .pricing.pricing-5 .pricing-price span.price-tenure{font-size:12px;}
.device-md .pricing.pricing-5 .pricing-box.best-price .pricing-title{padding:15px 0;}
.pricing-box.pricing-extended .pricing-desc,
.pricing-box.pricing-extended .pricing-action-area{position:relative;float:none;width:auto;padding:25px;}
.pricing-box.pricing-extended .pricing-action-area{height:auto;border-left:0;border-top:1px solid rgba(0,0,0,0.05);border-radius:0 0 3px 3px;}
.testimonials-grid.grid-3 li{width:50%;}
.section > .testimonial{padding:0 40px !important;max-width:none;}
.promo:not(.promo-full){padding:30px 20px !important;}
.promo.promo-dark h3{line-height:1.6;}
.promo a.button{position:relative !important;top:0 !important;margin:20px 0 0 !important;left:0 !important;right:0;}
#contact-form-overlay-mini{float:none;width:auto;max-width:380px;margin:0 auto;}
.button.button-full{font-size:22px;}
.button.button-full i{top:3px !important;}
.bnews-title{float:none;display:inline-block;}
.bnews-slider{float:none;margin:10px 0 0;width:100%;}
.wedding-head{font-size:60px;}
.wedding-head .first-name span,
.wedding-head .last-name span{font-size:40px;}
.wedding-head .and{font-size:144px;}
.error404{font-size:180px;}
.landing-form-overlay{position:absolute;width:100%;max-width:400px;right:auto;left:50%;margin-left:-200px;bottom:0;}
.owl-carousel .owl-nav [class*="owl-"]{	opacity:1 !important;}
.owl-carousel .owl-nav .owl-next{right:5px;}
.owl-carousel .owl-nav .owl-prev{left:5px;}
.product-rating { font-size: 22px; letter-spacing: 2px; }
}
@media (min-width:768px) and (max-width:991px){.swiper_wrapper:not(.full-screen):not(.canvas-slider-grid),
.swiper_wrapper:not(.full-screen):not(.canvas-slider-grid) .swiper-slide{height:400px !important;}
.sidebar-widgets-wrap{position:relative;margin:0 -20px -40px -20px;}
.sidebar-widgets-wrap .widget{display:inline-block;vertical-align:top;float:none;width:49.6%;margin:0 0 40px 0;padding-top:0;padding-left:20px;padding-right:20px;border-top:0;}
.landing-video{width:352px;height:199px;margin:14px 0 0 60px;}
}
@media (max-width:767px){body{padding:0 !important;}
#wrapper{width:100% !important;}
.container-fullwidth{margin:0 auto;padding:0 15px !important;}
h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:20px;}
h4{font-size:16px;}
.one-page-arrow{display:none !important;}
#top-bar{height:auto;}
#top-bar .col_half{width:100%;margin-bottom:0 !important;}
.top-links,
.top-links > ul > li{float:none !important;}
.top-links > ul{text-align:center;}
.top-links > ul > li{display:inline-block;}
.top-links > ul > li{margin-right:-4px;}
.top-links ul ul,
.top-links ul div.top-link-section{text-align:left;}
.top-links ul div.top-link-section{left:auto;right:0;padding:20px 15px;}
#top-social,
.flex-caption,
.slider-arrow-top-sm,
.slider-arrow-bottom-sm{display:none !important;}
.flex-control-nav li{opacity:1 !important;}
.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs{height:60px;}
.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li,
.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li img{display:block;width:80px !important;height:60px !important;}
.postcontent,
.postcontent.bothsidebar,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth{width:100%;margin-right:0;float:none;margin-bottom:50px !important;}
.sidebar.col_last{margin-bottom:0 !important;}
form .col_full,
form .col_half,
form .col_one_third,
form .col_two_third,
form .col_three_fourth,
form .col_one_fourth,
form .col_one_fifth,
form .col_two_fifth,
form .col_three_fifth,
form .col_four_fifth,
form .col_one_sixth,
form .col_five_sixth{margin-bottom:25px !important;}
#page-title{padding:20px 0 25px;text-align:center;}
#page-title h1{line-height:1.5;font-size:24px;}
#page-title .breadcrumb{position:relative !important;top:0 !important;left:0 !important;right:0 !important;margin:20px 0 0 !important;justify-content:center;}
#page-title #portfolio-navigation,
#portfolio-ajax-title #portfolio-navigation{position:relative;top:0;left:0;margin:15px auto 0;}
#portfolio-ajax-title{text-align:center;}
.portfolio-filter{border:none;border-radius:0;margin-bottom:20px;}
.portfolio-filter li{width:33.33%;margin:0 0 20px 0 !important;}
.portfolio-filter li a{text-align:center;border-left:none;padding:12px 18px !important;border-radius:2px !important;}
.portfolio-filter li a:hover{color:#004c97;}
.portfolio-filter li.activeFilter a{color:#FFF;margin:0;}
.portfolio-filter.style-2 li a,
.portfolio-filter.style-3 li a{border-radius:22px !important;}
.portfolio-shuffle{display:none;}
.small-thumbs .entry-image,
.ievent .entry-image{float:none !important;width:100% !important;margin:0 0 20px !important;}
.entry-title h2,
.post-grid .entry-title h2{font-size:18px !important;font-weight:600;}
.entry-meta li{font-size:11px;margin:0 10px 10px 0;}
#posts .entry-meta li i{display:none;}
#posts.post-grid .entry-meta li i,
#posts .entry-meta li:last-child i{display:inline-block;}
.post-grid{margin-right:0 !important;}
.post-grid .entry,
.post-masonry-full.grid-3 .entry{float:none !important;width:100% !important;margin-right:0 !important;border-right:0 !important;}
.post-timeline .entry.entry-date-section{margin-left:0;}
.timeline-border,
.post-timeline .entry-timeline{display:none !important;}
.postcontent .post-timeline{padding-left:0;}
.post-masonry-full .entry{padding:40px !important;}
.product-1 .product{width:100%;}
.product-1 .product-image{float:none !important;width:100% !important;height:auto !important;margin:0 0 20px !important;}
.product-1 .product-title h3{font-size:19px;}
.product-1 p{display:none;}
.pricing-box.best-price{margin-top:0;}
.pricing.pricing-5 .pricing-box{float:none;width:100%;}
.pricing-box.pricing-extended .pricing-features li{width:auto;float:none;}
table.cart .quantity{display:block;}
table.cart .quantity .qty,
table.cart .quantity .plus,
table.cart .quantity .minus{float:none;width:100%;}
table.cart .quantity .qty{border:0;border-top:1px solid #DDD;border-bottom:1px solid #DDD;}
.button.button-desc{padding:20px 17px;font-size:15px;max-width:100%;}
.button.button-desc span{font-size:11px;}
.process-steps li{float:none;width:auto !important;margin-top:20px;}
.process-steps li:first-child{margin-top:0;}
.process-steps li h5{margin:10px 0 0 0;}
.process-steps li:before,
.process-steps li:after{display:none;}
.tabs-responsive .tab-container{padding:0 !important;}
.tabs-responsive .tab-container:not(.accordion-border){border:0;}
.testimonials-grid li{float:none;width:auto !important;padding-left:0;padding-right:0;}
.team.team-list .team-image{float:none;width:100%;margin-right:0;}
.team.team-list .team-title{margin-top:15px;}
.title-block{padding:2px 0 3px 15px;border-left-width:5px;}
.title-block-right{padding:2px 15px 3px 0;border-right-width:5px;}
.title-block h1 + span{font-size:18px;}
.title-block h2 + span{font-size:17px;}
.title-block h3 + span{font-size:15px;}
.title-block h4 + span{font-size:13px;}
.heading-block h1{font-size:30px;}
.heading-block h2{font-size:26px;}
.heading-block h3{font-size:22px;}
.heading-block h4{font-size:19px;}
.heading-block h1 + span{font-size:20px;}
.heading-block h2 + span{font-size:18px;}
.heading-block h3 + span,
.heading-block h4 + span{font-size:17px;}
.heading-block ~ p:not(.lead){font-size:15px;}
.emphasis-title h1,
.emphasis-title h2{font-size:44px !important;}
.wedding-head{font-size:48px;}
.wedding-head .first-name,
.wedding-head .last-name,
.wedding-head .and{display:block;margin:0 0 15px;text-align:center;}
.wedding-head .first-name span,
.wedding-head .last-name span{font-size:36px;}
.wedding-head .and{font-size:120px;}
.news-carousel .overlay{display:none;}
#copyrights .col_half{text-align:center;}
#copyrights .col_half:last-child{display:none;}
#copyrights .footer-logo{margin-left:auto;margin-right:auto;}
}
@media (min-width:576px) and (max-width:767px){#header.full-header .container,
.container-fullwidth{width:540px !important;}
.container.vertical-middle{width:100% !important;}
.full-screen:not(.force-full-screen) .container.vertical-middle{width:540px !important;}
#top-search form input{padding-right:60px;}
.swiper_wrapper:not(.force-full-screen),
.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide{height:300px !important;}
.swiper_wrapper .slider-caption h2{font-size:2.25rem;}
.swiper_wrapper .slider-caption p{font-size:1.25rem;}
#header.transparent-header.floating-header .container{width:540px;padding:0 15px;}
.portfolio:not(.portfolio-1){margin:0 -6px -6px 0;}
.portfolio:not(.portfolio-1) .portfolio-item{padding:0 6px 6px 0;}
.portfolio:not(.portfolio-1) .portfolio-item{width:50%;}
.portfolio:not(.portfolio-1) .portfolio-desc{padding:15px 5px 10px;}
.portfolio:not(.portfolio-1) .portfolio-desc h3{font-size:16px;}
.portfolio:not(.portfolio-1) .portfolio-desc span{font-size:14px;}
.portfolio-notitle:not(.portfolio-1) .portfolio-desc{height:78px;padding:15px 5px;bottom:-79px;}
.portfolio-full.portfolio-notitle:not(.portfolio-1) .portfolio-desc,
.portfolio-nomargin.portfolio-notitle:not(.portfolio-1) .portfolio-desc{bottom:-78px;border-bottom:0;}
.portfolio-notitle:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay a.left-icon,
.portfolio-notitle:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay a.right-icon,
.portfolio-notitle .iportfolio:hover .portfolio-overlay a.left-icon,
.portfolio-notitle .iportfolio:hover .portfolio-overlay a.right-icon{margin-top:-55px !important;}
.portfolio:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay .portfolio-desc ~ a{margin:20px 0 0 !important;}
.portfolio:not(.portfolio-1) .portfolio-item:hover .portfolio-overlay .portfolio-desc ~ a.right-icon{margin-left:5px !important;margin-right:0 !important;}
.portfolio.portfolio-nomargin,
.portfolio.portfolio-full{margin:0 !important;}
.post-grid:not(.post-masonry) .entry-image iframe{height:246px;}
.shop:not(.product-1){margin:0 -12px -12px 0;}
.shop:not(.product-1) .product{padding:0 12px 12px 0;width:50%;}
.shop:not(.product-1) .product-title h3{font-size:17px;}
.clients-grid:not(.grid-3):not(.grid-2) li,
.clients-grid.grid-4 li,
.clients-grid.grid-6 li{width:33.33%;}
.button.button-full{font-size:18px;}
.button.button-full i{top:2px !important;margin-left:3px !important;}
.error404,
.error404-wrap .error404{font-size:160px;}
.landing-video{position:relative;top:12px;width:333px;height:187px;margin:19px 0 0 53px;}
}
@media (max-width:575px){.container,
#header.full-header .container,
.container-fullwidth{width:100% !important;padding-left:20px !important;padding-right:20px !important;}
#primary-menu-trigger{left:0;}
#top-cart{display:none;}
#top-search a{right:40px;}
#top-search form input{padding-right:55px;}
#side-panel-trigger{right:68px;}
#top-account{right:68px;}
#top-account a.btn{padding-left:8px;padding-right:8px;}
#top-account a.btn i:last-child{display:none;}
.swiper_wrapper:not(.force-full-screen),
.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide{height:180px !important;}
.swiper_wrapper .slider-caption h2{font-size:1.75rem;}
.swiper_wrapper .slider-caption p{font-size:1rem;}
#header.transparent-header.floating-header .container{width:310px;padding:0 15px;}
.portfolio-filter li{width:50%;}
.portfolio:not(.portfolio-1){margin:0;}
.portfolio .portfolio-item{width:100%;padding:0;}
.post-grid:not(.post-masonry) .entry-image iframe{height:157px;}
.mpost .entry-image{float:none;margin:0 0 20px 0;}
.mpost .entry-image,
.mpost .entry-image a,
.mpost .entry-image img,
.mpost .entry-image i{width:100%;height:auto;}
.mpost .entry-image i{height:150px;line-height:150px;}
.shop:not(.product-1){margin:0 !important;}
.shop:not(.product-1) .product{margin:0 0 20px 0;padding:0;width:100%;}
.shop:not(.product-1) .product-title h3{font-size:19px;}
.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs{height:45px;}
.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li,
.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li img{display:block;width:60px !important;height:45px !important;}
.si-share span{display:none;}
.parallax .entry-overlay-meta,
.parallax .entry-overlay{left:50% !important;right:0 !important;margin:0 0 0 -140px !important;width:280px !important;}
.parallax .entry-overlay{width:288px !important;}
.parallax .countdown-section{width:64px;height:64px;margin:0 8px 0 0;font-size:11px;padding:0;padding-top:12px;}
.parallax .countdown-amount{font-size:20px;}
.countdown-large .countdown-section{display:block;width:auto;margin:30px 0 0;border:0;}
.countdown-large .countdown-section:first-child{margin-top:0;}
.testi-image,
.testi-image a,
.testi-image img,
.testi-image i{width:36px;height:36px;}
.testi-image i{line-height:36px;font-size:20px;}
.clients-grid:not(.grid-3):not(.grid-2) li,
.clients-grid.grid-4 li,
.clients-grid.grid-6 li{width:50%;}
.button.button-full{font-size:16px;}
.button.button-full i{top:2px !important;margin-left:3px !important;}
.emphasis-title h1,
.emphasis-title h2{font-size:40px !important;}
.error404,
.error404-wrap .error404{font-size:120px;}
.landing-video{position:relative;top:9px;width:212px;height:119px;margin:19px 0 0 34px;}
.landing-form-overlay{margin-left:-155px;}
.button.button-desc{padding:20px 17px;font-size:15px;max-width:100%;}
.button.button-desc span{font-size:11px;}
}
@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx){#logo a.standard-logo,
#header.split-menu #logo a.standard-logo{display:none;}
#logo a.retina-logo{display:block;}
#header.split-menu #logo a.retina-logo{display:inline-block;}
.owl-carousel.owl-loading,
.preloader,
.preloader2,
.form-process{background-image:url('../images/preloader@2x.gif');background-size:24px 24px;}
.dark .owl-carousel.owl-loading,
.dark .preloader,
.dark .preloader2,
.dark .form-process{background-image:url('../images/preloader-dark@2x.gif');}
.widget_recent_comments li{background-image:url("../images/icons/widget-comment@2x.png");background-size:15px 26px;}
.widget_nav_menu li a,
.widget_links li a,
.widget_meta li a,
.widget_archive li a,
.widget_recent_entries li a,
.widget_categories li a,
.widget_pages li a,
.widget_rss li a,
.widget_recent_comments li a{background-image:url("../images/icons/widget-link@2x.png");background-size:4px 20px;}
.dark .widget_recent_comments li{background-image:url("../images/icons/widget-comment-dark@2x.png");}
.dark .widget_nav_menu li a,
.dark .widget_links li a,
.dark .widget_meta li a,
.dark .widget_archive li a,
.dark .widget_recent_entries li a,
.dark .widget_categories li a,
.dark .widget_pages li a,
.dark .widget_rss li a,
.dark .widget_recent_comments li a{background-image:url("../images/icons/widget-link-dark@2x.png");}
}
@media
only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:991px),
only screen and (min--moz-device-pixel-ratio:2) and (max-width:991px),
only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:991px),
only screen and (min-device-pixel-ratio:2) and (max-width:991px),
only screen and (min-resolution:192dpi) and (max-width:991px),
only screen and (min-resolution:2dppx) and (max-width:991px){#logo a.standard-logo{display:none;}
#logo a.retina-logo{display:inline-block;}
}
::selection{background:#004c97;}
::-moz-selection{background:#004c97;}
::-webkit-selection{background:#004c97;}
a,
h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge),
.header-extras li .he-text span,
#primary-menu ul li:hover > a,
#primary-menu ul li.current > a,
#primary-menu div ul li:hover > a,
#primary-menu div ul li.current > a,
#primary-menu ul ul li:hover > a,
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover,
#top-cart > a:hover,
.top-cart-action span.top-checkout-price,
.breadcrumb a:hover,
.portfolio-filter li a:hover,
.portfolio-desc h3 a:hover,
.portfolio-overlay a:hover,
#portfolio-navigation a:hover,
.entry-title h2 a:hover,
.entry-meta li a:hover,
.post-timeline .entry:hover .entry-timeline,
.post-timeline .entry:hover .timeline-divider,
.ipost .entry-title h3 a:hover,
.ipost .entry-title h4 a:hover,
.spost .entry-title h4 a:hover,
.mpost .entry-title h4 a:hover,
.comment-content .comment-author a:hover,
.product-title h3 a:hover,
.single-product .product-title h2 a:hover,
.product-price ins,
.single-product .product-price,
.feature-box.fbox-border .fbox-icon i,
.feature-box.fbox-border .fbox-icon img,
.feature-box.fbox-plain .fbox-icon i,
.feature-box.fbox-plain .fbox-icon img,
.process-steps li.active h5,
.process-steps li.ui-tabs-active h5,
.team-title span,
.pricing-box.best-price .pricing-price,
.btn-link,
.dark .post-timeline .entry:hover .entry-timeline,
.dark .post-timeline .entry:hover .timeline-divider,
.clear-rating-active:hover{color:#004c97;}
.color,
.top-cart-item-desc a:hover,
.portfolio-filter.style-3 li.activeFilter a,
.faqlist li a:hover,
.tagcloud a:hover,
.dark .top-cart-item-desc a:hover,
.iconlist-color li i,
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li:hover > a,
.dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li.current > a,
.overlay-menu #primary-menu.dark > ul > li:hover > a,
.overlay-menu #primary-menu.dark > ul > li.current > a,
.nav-tree li:hover > a,
.nav-tree li.current > a,
.nav-tree li.active > a{color:#004c97 !important;}
#primary-menu.style-3 > ul > li.current > a,
#primary-menu.sub-title > ul > li:hover > a,
#primary-menu.sub-title > ul > li.current > a,
#primary-menu.sub-title > div > ul > li:hover > a,
#primary-menu.sub-title > div > ul > li.current > a,
#top-cart > a > span,
#page-menu-wrap,
#page-menu ul ul,
#page-menu.dots-menu nav li.current a,
#page-menu.dots-menu nav li div,
.portfolio-filter li.activeFilter a,
.portfolio-filter.style-4 li.activeFilter a:after,
.portfolio-shuffle:hover,
.entry-link:hover,
.sale-flash,
.button:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime),
.button.button-dark:hover,
.promo.promo-flat,
.feature-box .fbox-icon i,
.feature-box .fbox-icon img,
.fbox-effect.fbox-dark .fbox-icon i:hover,
.fbox-effect.fbox-dark:hover .fbox-icon i,
.fbox-border.fbox-effect.fbox-dark .fbox-icon i:after,
.i-rounded:hover,
.i-circled:hover,
ul.tab-nav.tab-nav2 li.ui-state-active a,
.testimonial .flex-control-nav li a,
.skills li .progress,
.owl-carousel .owl-dots .owl-dot,
#gotoTop:hover,
.dark .button-dark:hover,
.dark .fbox-effect.fbox-dark .fbox-icon i:hover,
.dark .fbox-effect.fbox-dark:hover .fbox-icon i,
.dark .fbox-border.fbox-effect.fbox-dark .fbox-icon i:after,
.dark .i-rounded:hover,
.dark .i-circled:hover,
.dark ul.tab-nav.tab-nav2 li.ui-state-active a,
.dark .tagcloud a:hover,
.ei-slider-thumbs li.ei-slider-element,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus,
.nav-pills .show > .nav-link,
.checkbox-style:checked + .checkbox-style-1-label:before,
.checkbox-style:checked + .checkbox-style-2-label:before,
.checkbox-style:checked + .checkbox-style-3-label:before,
.radio-style:checked + .radio-style-3-label:before,
.irs-bar,
.irs-from,
.irs-to,
.irs-single,
input.switch-toggle-flat:checked + label,
input.switch-toggle-flat:checked + label:after,
input.switch-toggle-round:checked + label:before,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-themecolor,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-themecolor,
.entry:after{background-color:#004c97;}
.bgcolor,
.button.button-3d:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime):hover,
.process-steps li.active a,
.process-steps li.ui-tabs-active a,
.sidenav > .ui-tabs-active > a,
.sidenav > .ui-tabs-active > a:hover,
.owl-carousel .owl-nav [class*=owl-]:hover,
.page-item.active .page-link,
.page-link:hover,
.page-link:focus{background-color:#004c97 !important;}
#primary-menu.style-4 > ul > li:hover > a,
#primary-menu.style-4 > ul > li.current > a,
.top-cart-item-image:hover,
.portfolio-filter.style-3 li.activeFilter a,
.post-timeline .entry:hover .entry-timeline,
.post-timeline .entry:hover .timeline-divider,
.cart-product-thumbnail img:hover,
.feature-box.fbox-outline .fbox-icon,
.feature-box.fbox-border .fbox-icon,
.dark .top-cart-item-image:hover,
.dark .post-timeline .entry:hover .entry-timeline,
.dark .post-timeline .entry:hover .timeline-divider,
.dark .cart-product-thumbnail img:hover,
.heading-block.border-color:after{border-color:#004c97;}
.top-links ul ul,
.top-links ul div.top-link-section,
#primary-menu ul ul:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content,
#primary-menu.style-6 > ul > li > a:after,
#primary-menu.style-6 > ul > li.current > a:after,
#top-cart .top-cart-content,
.fancy-title.title-border-color:before,
.dark #primary-menu:not(.not-dark) ul ul,
.dark #primary-menu:not(.not-dark) ul li .mega-menu-content,
#primary-menu.dark ul ul,
#primary-menu.dark ul li .mega-menu-content,
.dark #primary-menu:not(.not-dark) ul li .mega-menu-content.style-2,
#primary-menu.dark ul li .mega-menu-content.style-2,
.dark #top-cart .top-cart-content,
.tabs.tabs-tb ul.tab-nav li.ui-tabs-active a,
.irs-from:after,
.irs-single:after,
.irs-to:after{border-top-color:#004c97;}
#page-menu.dots-menu nav li div:after,
.title-block{border-left-color:#004c97;}
.title-block-right{border-right-color:#004c97;}
.fancy-title.title-bottom-border h1,
.fancy-title.title-bottom-border h2,
.fancy-title.title-bottom-border h3,
.fancy-title.title-bottom-border h4,
.fancy-title.title-bottom-border h5,
.fancy-title.title-bottom-border h6,
.more-link,
.tabs.tabs-bb ul.tab-nav li.ui-tabs-active a{border-bottom-color:#004c97;}
.border-color,
.process-steps li.active a,
.process-steps li.ui-tabs-active a,
.tagcloud a:hover,
.page-item.active .page-link,
.page-link:hover,
.page-link:focus{border-color:#004c97 !important;}
.fbox-effect.fbox-dark .fbox-icon i:after,
.dark .fbox-effect.fbox-dark .fbox-icon i:after{box-shadow:0 0 0 2px #004c97;}
.fbox-border.fbox-effect.fbox-dark .fbox-icon i:hover,
.fbox-border.fbox-effect.fbox-dark:hover .fbox-icon i,
.dark .fbox-border.fbox-effect.fbox-dark .fbox-icon i:hover,
.dark .fbox-border.fbox-effect.fbox-dark:hover .fbox-icon i{box-shadow:0 0 0 1px #004c97;}
@media only screen and (max-width:991px){
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a,
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a,
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a,
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a,
#primary-menu ul ul li:hover > a,
#primary-menu ul li .mega-menu-content.style-2 > ul > li.mega-menu-title:hover > a,
#primary-menu ul li .mega-menu-content.style-2 > ul > li.mega-menu-title > a:hover{color:#004c97 !important;}
#page-menu nav{background-color:#004c97;}
}
@media only screen and (max-width:767px){
    .portfolio-filter li a:hover{color:#004c97;}
    .newHeader.blackFriday {
        background:#000 url('/images/category/blackfriday-mobile.jpeg') top center !important;
        background-repeat: no-repeat !important;
        background-size:contain !important;
    }
}
@media (max-width:575px){
    .newHeader { min-height:400px; padding-top:125px; }
    .newHeader h1 { font-size:24px; line-height: 1.2em; }
    .newHeader h2 { font-size:16px; }
}
@media (min-width:576px){
    .newHeader { min-height:400px; padding-top:125px; }
    .newHeader h1 { font-size:24px; }
    .newHeader h2 { font-size:18px; }
}
@media (min-width:768px){
    .newHeader { min-height:500px; padding-top:150px; }
    .newHeader h1 { font-size:28px; }
    .newHeader h2 { font-size:20px; }
}
@media (min-width:992px){
    .newHeader { min-height:650px; padding-top:200px; }
    .newHeader h1 { font-size:32px; }
    .newHeader h2 { font-size:24px; }
}
@media (min-width:1200px){
    .newHeader { min-height:794px; padding-top:325px; }
    .newHeader h1 { font-size:36px; }
    .newHeader h2 { font-size:26px; }
}